.box{
    text-align: center;
    height: 40vh;
    width: 40vh;
    background-color: #68dbbc;
    border: 2px solid black;
    align-self: center;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.container{
    display: flex;
    justify-content: center;
    
}
#loginB,#signup {
    border-radius: 30px;
    color: whitesmoke;
    background-color: rgb(175, 119, 227);
    height: 30px;
    width:70px;
    padding-right: 0.3rem;
    font-weight: bold;
}
.submit{
    color: whitesmoke;
    font-weight: bold;
    height: 30px;
    width:70px;
    display: block;
    border-radius: 30px;
    background-color: rgb(2, 2, 70);
    

}
